.hero-image {
    background-image: url(https://images.pexels.com/photos/12618279/pexels-photo-12618279.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
img {
    height: 100%;
}